@model IEnumerable<MVC_Music.ViewModels.PerformanceSummaryVM>

@{
    ViewData["Title"] = "Performance Summary";
}

<h2>Performance Summary</h2>

<a asp-action="DownloadPerformances" class="btn btn-info" float-end">Download Performances Report</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FormalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageFeePaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HighestFeePaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LowestFeePaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPerformances)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FormalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageFeePaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighestFeePaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowestFeePaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPerformances)
            </td>
        </tr>
}
    </tbody>
</table>
